
<Doctype html!>
<head>
</head>

<body>

<a href="home.html">HOME</a>
<a href="about.html">ABOUT</a>
<a href="service.html">SERVICE</a>
<a href="contact.html">Contact</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<p><a class="btn btn-lg btn-success" href="#" onClick="jQuery.ajax('/btn')" role="button">Email him today</a></p>
<h1><strong>INTRODUCTORY TO LINUX</strong></h1>

<h3> You can also visit our facebook at this site</h3>
<a href="www.facebook.com">facebook</a>
<a href="www.facebook.com">like us!</a>
<img src="http://powerpictures.crystalgraphics.com/photo/computer_concept_computer_lab_computer_terminals_cg1p74690316c.jpg "height="240" width"240" >
<p> You can also contact us thgrouh our address</p>

<address>
Eric sarkodie<br>
post office Box 189<br>
Asante region<br>
Kumasi<br>
</Address>

<h4>WHY DO WE LEARN COMPUTER</h4>
<p><Strong>This will really help you to be able to stand and work fro the succes</stong> </p>
<ol>
<li>You will feel like God</li>
<li>suddenly, everything needs to be decomposed</li>
<li>It easy to give up</li>
<li>You will doubt it everyday</li>
</ol>
<p><i><strong>You can also use our image to access us on facbook</strong></i></p>
<a href="www.facebook.com"><img src="http://powerpictures.crystalgraphics.com/photo/computing_data_computer_digital_memory_computing_cg1p48495391c.jpg" width"240" height"240"></a>    
</body>

</html>
